/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
html{
  background-color: rgb(234, 234, 234);
  font-family: "Gugi";
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  color: black;
  text-decoration: none;
  font-family: "Gugi";
}
button{
  font-family: "Gugi";
  cursor: pointer;
}
@font-face {
  font-family: "Gugi";
  src: url(/_next/static/media/Gugi.79ca8432.ttf) format("truetype");
}
@font-face {
  font-family: "Round";
  src: url(/_next/static/media/Round.0f315e74.ttf) format("truetype");
}
@font-face {
  font-family: "MarBoDan";
  src: url(/_next/static/media/MarBoDan.63cd44db.ttf) format("truetype");
}
