/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/components/modal.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.modal_container__4hhyw{
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
}
.modal_box__MwjKM{
  padding: 2%;
  height: 80%;
  min-width: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  background-color: rgb(242, 242, 242);
}
.modal_title__beNLR{
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
}
.modal_content__ZLUFF{
  text-align: center;
  font-size: 3vw;
  font-weight: 500;
}
.modal_buttonBox__dBMwJ{
  display: flex;
  column-gap: 1vw;
  justify-content: space-between;
}
.modal_button__WHQSK{
  flex: 1 1;
  padding: 5%;
  border-radius: 14px;
  color: white;
  font-size: 3vw;
  text-shadow: 0 0 .1vw rgb(0, 0, 0);
}
.modal_leftButton__scdxf{
  background-color: rgba(0, 0, 255, 0.3);
}
.modal_rightButton__MQW3r{
  background-color: rgba(255, 0, 0, 0.3);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/react-jigsaw-puzzle/lib/jigsaw-puzzle.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.jigsaw-puzzle{position:relative}.jigsaw-puzzle__piece{position:absolute;border:1px solid #cecece;cursor:pointer;z-index:1;-webkit-user-select:none;-moz-user-select:none;user-select:none}.jigsaw-puzzle__piece.jigsaw-puzzle__piece--solved{border-color:#000;z-index:0}.jigsaw-puzzle__piece.jigsaw-puzzle__piece--dragging{z-index:5;box-shadow:1px 1px 5px 0 #00000091}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/puzzle.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.puzzle_container__y2EaT{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.puzzle_box__7lxun{
  width: 90%;
  background-color: white;
  box-shadow: inset 0 0 5px 5px olive;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/root.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.root_container__lG6uK{
  position: absolute;
  height: 100%;
  width: 100%;
}
.root_skipButton__k2A49{
  height: 5%;
  padding: .4%;
  position: absolute;
  bottom: 1%;
  right: 1.4%;
  border-radius: 14px;
  font-size: 1vw;
  font-weight: 700;
  background-color: rgb(200, 200, 100);
}
.root_skipButton__k2A49:hover{
  background-color: rgb(200, 200, 0);
}
